@import "../imports/ui/stylesheets/not-found.less";

@media only screen and (min-width : 867px) {
  .ui.container {
    width: 750px!important;
  }
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0,0,0,.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

body ::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 5px;
}

.chat {
  height: 150px;
  overflow-y: scroll;
}

.controls {
  margin-bottom: 1rem;
}

.ui.input {
  width: 100%;

  input {
    border-color: rgba(90, 90, 90, 255);
  }
}

.ui.container {
  padding: 1rem 0;
}

.ui.segment {
  box-shadow: none;
  border-color: rgba(90, 90, 90, 255);
}