#lobby-list {
  height: 150px;
  overflow-y: scroll;
}

#profile-view {
  height: 100%;
  text-align: center;
}

#profile-icon {
  height: 150px;
  margin-bottom: 1.5em;
}

#chat {
  height: 100px;
  overflow-y: scroll;
}

#users-online-view {
  height: 100%;
}

#helper-row {
  padding-bottom: 0!important;
  padding-top: 0!important;
}

/*#create-lobby-button {*/
  /*position: absolute;*/
  /*bottom: 1rem;*/
  /*left: 1rem;*/
/*}*/

img {
  display: block;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}