<template name="hello">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
  </head>
  <body class="pushable">

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted menu">

          <a class="active item">Home</a>
          <a class="item">Profile</a>
          <a class="item">Play</a>

          <div class="right item">
            <a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">
          Math With Friends
        </h1>
        <img class="ui image item" src="">
        <h2>Improve your math skills while having fun with your friends!</h2>
        <div class="ui huge primary button">Play Now </div>
      </div>

    </div>

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Improve your math skills with your friends</h3>
            <p>Insert Text</p>
            <h3 class="ui header">Goals</h3>
            <p>insert text</p>
          </div>
          <div class="six wide right floated column">
            <img src="math-with-friends-logo.jpg" class="ui large bordered rounded image">
          </div>
        </div>

      </div>
    </div>




    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Test</a>

            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">University</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">test</a>

            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</template>
